.dropdown-togglee {
  width: 175px;
  background: transparent;
  border: none !important;
}
.dropdown-togglee:hover {
  background: transparent;
  border: none;
}

.btn-success {
  background: transparent !important;
  border: none;
}
.dropdown-item.active,
.dropdown-item:active {
  background: none !important;
}
